/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #E6F4FF;
}

/* Header */
header {
    background-color: transparent;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;  /* Make the header fixed */
    top: 0;
    left: 0;
    width: 100%;
}

/* To avoid overlapping with header */
.header-content h1 {
    margin-left: 270px; /* Ensures the header title is placed beside the sidebar */
    background-color: transparent;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Sidebar */
#sidebar {
    width: 290px;
    /* background-image: linear-gradient(to right, #1f7acf, rgb(184, 225, 251)); */
    background-color: transparent;
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: left 0.3s;
}

.logo{
    margin-top: 20px;
}

.menu {
    margin-left: 20px;
    margin-top: 90px;
    width: 100%;
    flex-grow: 1; /* Let the menu take available space */
}

:root {
    --text-color: #001F4D; /* Define the variable */
    --new-color: white;
    --bg-color: #E0E0E0B2;
}

.icon{
    height: 20px;
    width: 20px;
    margin-right: 8px;
}

.link {
    display: inline-flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 15px;
    text-decoration: none;
    font-size: 1.1em;
    gap: 20px;
    background-color: white; /* Default background color */
    color: #001F4D; /* Text color */
    border-radius: 20px;
    transition: background-color 0.3s;
    overflow: hidden; /* Prevent overflow when collapsed */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.37);
}

.link:hover {
    background-color: #81b1fd; /* Active and hover background color */
}

.text-wrapper {
    overflow: hidden; /* Prevent overflow */
    white-space: nowrap; /* Prevent text from wrapping to a new line */
    text-overflow: ellipsis; /* Show ellipsis (...) when text overflows */
    width: 200px; /* Initially hidden */
    transition: width 0.3s ease-in-out;
}

.icon-name {
    width: 100px;
}


.link:hover .icon-name{
    transform: translateX(0); /* Show icon name when active or hovered */
}

.link:hover .text-wrapper {
    width: 200px; /* Expand on hover for any link */
}

.profile-section {
    border-radius: 20px;
    background-color: var(--bg-color);
    width: 130px;
    height: 60px;
    position: absolute;
    right: 150px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 10px;
}

.profile-section img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 5px;
}

.profile-name {
    margin-left: 5px;
}

.dropdown {
    position: relative; /* Make this the reference point for the absolute positioning of logout */
}

.dropdown-toggle {
    margin-left: 5px;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    border-color: transparent;
}

.logout {
    display: none;
    position: absolute;
    top: 100%; /* Position below the toggle */
    left: 0;
    background-color: var(--bg-color);
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    white-space: nowrap; /* Prevents text from wrapping */
    cursor: pointer;
    z-index: 10; /* Ensures it appears on top */
}

.logout-name{
    font-size: 20px;
}

/* Show the logout button when hovering over the dropdown container */
.dropdown:hover .logout {
    display: block;
    color: var(--text-color);
}


/* Content */
.content {
    width: 840px;
    margin-left: 350px;  /* Adjusted to account for the width of the sidebar */
    margin-top: 100px;    /* Added margin to prevent content from going under the fixed header */
    padding: 20px;
    background-color: #E0E0E0B2;
    border-radius: 20px;
    min-height: 40vh;
}

/* Footer */
footer {
    background-color: transparent;
    padding: 5px;
    text-align: center;
    margin-top: 5px;
}

/* My Property */
.myproperty{
    width: 800px;
}

/* report */
.message-wrap {
    background-image: radial-gradient(#FFFFFFB2,#558AE17D);
    border-radius: 20px;
    width: 784px;
    height: 551px;
    display: grid;
    position: relative;
    align-items: center;
    left: 37px;
  }
  
  .message-name {
    display: block;
    font-size: 24px;
    font-weight: 700;
    color: #2368D8;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .message-inner {
    background-color: white;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 50px;
    width: 700px;
    height: 450px;
    display: flex;
    position: relative;
    left: 10px;
    bottom: 20px;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
  }
  
  .chat-box {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .message {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    max-width: 70%; /* Limit width */
    margin-bottom: 10px;
  }
  
  .message-input {
    position: absolute;
    bottom: 5px;
    right: 100px;
    width: 500px;
    height: 38px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid blue;
    resize: none;
  }
  
  .message button {
    position: absolute;
    bottom: 5px;
    right: 30px;
    width: 50px;
    padding: 10px;
    border: none;
    background-color: #0078FF;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  button:hover {
    background-color: #005BB5;
  }
  
  /* Message Styles */
  .message.user {
    background-color: #DCF8C6;
    align-self: flex-end;
    border-radius: 20px;
    word-wrap: break-word;
    max-width: 75%;
    padding: 10px;
  }
  
  .message.friend {
    background-color: #ECECEC;
    align-self: flex-start;
    border-radius: 20px;
    word-wrap: break-word;
    max-width: 75%;
    padding: 10px;
    margin-left: 10px;
  }
  
  /* Scrollbar */
  .chat-box::-webkit-scrollbar {
    width: 8px;
  }
  
  .chat-box::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  .chat-box::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

/* contract */
.container {
  max-width: 800px;
  background-color: var(--bg-color);
}

h1 {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

h2 {
  font-size: 18px;
  margin-top: 20px;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  line-height: 1.6;
}

input.short {
    width: 120px;
}

input.long {
    width: 300px;
}

button#downloadBtn {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #00264d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button#downloadBtn:hover {
    background-color: #004080;
}


/* mydetails */
.card {
      background-color: white;
      border-radius: 20px;
      padding: 30px;
      max-width: 800px;
      width: 100%;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }

    .profile {
        margin-left: 50px;
        justify-content: center;  /* centers horizontally */
    }


    .profile-icon {
        align-items: center;
        text-align: center;
        width: 250px;
    }

    .tenant-image {
    width: 140px;
    border-radius: 50%;
    }   

    section {
      margin-bottom: 30px;
      border-bottom: 1px solid #00254d;
    }

    .section-title {
      font-size: 18px;
      font-weight: bold;
      color: #00254d;
      margin-bottom: 10px;
      padding-bottom: 5px;
    }

    .docs a {
      display: block;
      margin-bottom: 10px;
      color: #003366;
      text-decoration: none;
    }

    .docs a:hover {
      text-decoration: underline;
    }

    .utilities p, .profile-info p {
      margin: 8px 0;
    }

    strong {
      color: #00254d;
    }

    .pay-here{
        width: 100px;
        height: 50px;
        border-radius: 50%;
        position: fixed;
        bottom: 80px;
        left: 542px;
        z-index: 2;
    }

    .paybtn{
        color: #426B1F;
    }